<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @store.grade %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @store.runtime %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
